.banner{
  position: relative;
  overflow: hidden;

  .col{
    padding: 0 15px;
    max-width: 50%;

    @media screen and (max-width: 767px) {
      max-width: 100%;
    }
  }

  .textBox{
    padding: 50px 0;
  }

  .imgBox{
    padding: 90px;
  }
  // .tick img{
  //   width: 22px !important;
  //   height: 22px !important;
  //   // border-radius: 50%;
  // }
  // .developer_varified img{
  //   display: flex !important;
  // }
}

.tick img{
  width: 22px !important;
  height: 22px !important;
  // border-radius: 50%;
}